<div
  class="grid"
  *ngIf="operation"
  [matMenuTriggerFor]="menu"
  [matMenuTriggerData]="{operation}"
  #menuTrigger="matMenuTrigger"
>
  <div class="col">
    <!-- {{ operation.fromCategoryId }} -->
    <button mat-fab color="accent">
      <mat-icon>{{ findCategory(operation.fromCategoryId).icon }}</mat-icon>
    </button>
  </div>
  <div class="col">
    {{ findCategory(operation.toCategoryId).name }}
  </div>
  <!-- <div class="col">
    {{ operation.type }}
  </div> -->
  <div
    class="col"
    [ngClass]="{
      'operation--income': operation.type === 'income',
      'operation--transfer': operation.type === 'transfer',
      'operation--expense': operation.type === 'expense'
    }"
  >
    {{ operation.amount + operation.currencyCode }}
  </div>
  <!-- <div class="col">
    {{ operation.date | date: "HH:mm:ss" }}
  </div> -->
  <div class="col-12">
    <div class="grid">
      <div class="col">
        {{ operation.tagId }}
      </div>
      <div class="col">
        {{ operation.comment }}
      </div>
    </div>
  </div>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-operation="operation">
    <button mat-menu-item (click)="remove(operation)">
      {{ "Remove" }}
    </button>
    <button mat-menu-item (click)="change(operation)">
      {{ "Change" }}
    </button>
  </ng-template>
</mat-menu>
