<div class="grid login-wrapper align-items-center justify-content-center">
  <mat-card class="col box">
    <mat-card-header>
      <mat-card-title>Сброс пароля</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="w-full">
        <input type="email" [(ngModel)]="email" matInput placeholder="Email" />
      </mat-form-field>
    </mat-card-content>
    <div class="grid">
      <div class="col-12">
        <button
          mat-stroked-button
          color="accent"
          class="w-full"
          (click)="forgotPassword()"
        >
          Reset Password
        </button>
      </div>

      <div class="col-12">
        <span>Go back to ?</span>
        <a routerLink="/sign-in">Sign In</a>
      </div>
    </div>
  </mat-card>
</div>
