<div class="grid">
  <div class="col-12" *ngIf="accBalance">
    {{ "Доход: " + accBalance.income + accBalance.currencyCode }}
  </div>
  <div class="col-12">
    <div class="list">
      <div class="box m-1" *ngFor="let category of incCategories | async">
        <button
          mat-fab
          color="accent"
          class="btn--income"
          [matMenuTriggerFor]="incMenu"
          [matMenuTriggerData]="{category}"
          #menuTrigger="matMenuTrigger"
        >
          <mat-icon>{{ category.icon }}</mat-icon>
        </button>
        {{ category.name }}
      </div>
      <div class="box m-1">
        <button
          mat-fab
          color="accent"
          class="btn--income"
          (click)="upsertIncCategory()"
        >
          <mat-icon>{{ "add" }}</mat-icon>
        </button>
      </div>
    </div>
    <!-- <div
        class="box"
        longPress
        (mouseLongPress)="mouseLongPress($event)"
        *ngFor="let timePeriod of timePeriods"
        cdkDrag
      >
        {{ timePeriod }}
      </div> -->
    <!-- <div class="grid">
      <div class="col-1" *ngFor="let item of categories">
        {{ item.name }}
        <button mat-icon-button (click)="removeCategory(item.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div> -->
    <mat-divider></mat-divider>
  </div>
  <div class="col-12" *ngIf="accBalance">
    {{ "Доступно: " + accBalance.accounts + accBalance.currencyCode }}
  </div>
  <div class="col-12">
    <div class="list">
      <div class="box m-1" *ngFor="let acc of accounts | async">
        <button
          mat-fab
          color="accent"
          class="btn--acc"
          [matMenuTriggerFor]="accMenu"
          [matMenuTriggerData]="{acc}"
          #accMenuTrigger="matMenuTrigger"
        >
          <mat-icon>{{ acc.icon }}</mat-icon>
        </button>
        {{ acc.name }}
      </div>
      <div class="box m-1">
        <button
          mat-fab
          color="accent"
          class="btn--acc"
          (click)="upsertAccount()"
        >
          <mat-icon>{{ "add" }}</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="col-12" *ngIf="accBalance">
    {{ "Траты: " + accBalance.expense + accBalance.currencyCode }}
  </div>
  <div class="col-12">
    <div class="flex flex-wrap w-full align-items-start">
      <div
        class="box m-1 overflow-hidden"
        *ngFor="let expCategory of expCategories | async"
      >
        <button
          mat-fab
          class="btn--exp"
          [matMenuTriggerFor]="expMenu"
          [matMenuTriggerData]="{expCategory}"
          #expMenuTrigger="matMenuTrigger"
        >
          <mat-icon>{{ expCategory.icon }}</mat-icon>
        </button>
        {{ expCategory.name }}
      </div>
      <div class="box m-1">
        <button mat-fab class="btn--exp" (click)="upsertExpCategory()">
          <mat-icon>{{ "add" }}</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="col-12">
    <div class="grid">
      <div class="col" *ngFor="let item of incomeCategories">
        {{ item.name }}
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="grid">
      <div class="col" *ngFor="let item of accounts">
        {{ item.name }}
      </div>
    </div>
  </div> -->
</div>

<mat-menu #accMenu="matMenu">
  <ng-template matMenuContent let-acc="acc">
    <button mat-menu-item (click)="removeAccount(acc.id)">
      {{ "Remove" }}
    </button>
    <button mat-menu-item (click)="upsertAccount(acc)">
      {{ "Change" }}
    </button>
  </ng-template>
</mat-menu>

<mat-menu #expMenu="matMenu">
  <ng-template matMenuContent let-category="expCategory">
    <button mat-menu-item (click)="removeExpCategory(category.id)">
      {{ "Remove" }}
    </button>
    <button mat-menu-item (click)="upsertExpCategory(category)">
      {{ "Change" }}
    </button>
  </ng-template>
</mat-menu>

<mat-menu #incMenu="matMenu">
  <ng-template matMenuContent let-category="category">
    <button mat-menu-item (click)="removeIncCategory(category.id)">
      {{ "Remove" }}
    </button>
    <button mat-menu-item (click)="upsertIncCategory(category)">
      {{ "Change" }}
    </button>
  </ng-template>
</mat-menu>
