.list {
  width: 100%;
  overflow: auto;

  // max-width: 100%;
  // // border: solid 1px #ccc;
  // min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  // background: white;
  // border-radius: 4px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  // padding: 20px 10px;
  // border-right: solid 1px #ccc;
  // color: rgba(0, 0, 0, 0.87);
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
  // box-sizing: border-box;
  // cursor: move;
  // background: white;
  // font-size: 14px;
  // flex-grow: 1;
  // flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  // border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .example-box:last-child {
//   border: none;
// }

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.btn {
  &--income {
    background-color: rgb(29, 146, 55);
  }
  &--acc {
    background-color: rgb(29, 56, 146);
  }
  &--exp {
    background-color: rgb(181, 187, 207);
  }
}
