<h2 mat-dialog-title>{{ data.operation ? "Редактирование" : "Создание " }}</h2>

<mat-dialog-content>
  <!-- {{ form.value | json }} -->
  <form [formGroup]="form">
    <div class="grid">
      <div class="col-12">
        <button
          mat-fab
          color="accent"
          class="m-1"
          [ngClass]="{ 'selected-icon': form.value.fromCategoryId === item.id }"
          *ngFor="let item of data.incCategories"
          (click)="onSelectFromCategory(item.id!)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
      </div>
      <div class="col-12">
        <button
          mat-fab
          color="accent"
          class="m-1"
          [ngClass]="{ 'selected-icon': form.value.fromCategoryId === item.id }"
          *ngFor="let item of data.accounts"
          (click)="onSelectFromCategory(item.id!)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </div>
      <div class="col-12">
        <button
          mat-fab
          color="accent"
          class="m-1"
          [ngClass]="{ 'selected-icon': form.value.toCategoryId === item.id }"
          *ngFor="let item of data.accounts"
          (click)="onSelectToCategory(item.id!)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
      </div>
      <div class="col-12">
        <button
          mat-fab
          color="accent"
          class="m-1"
          [ngClass]="{ 'selected-icon': form.value.toCategoryId === item.id }"
          *ngFor="let item of data.expCategories"
          (click)="onSelectToCategory(item.id!)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </div>
      <div class="col-12">
        <!-- <mat-form-field class="w-full" appearance="fill">
          <input
            matInput
            [ngxMatDatetimePicker]="picker"
            placeholder="Choose a date"
            formControlName="date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="$any(picker)"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #picker
            [showSpinners]="true"
            [showSeconds]="false"
            [stepHour]="1"
            [stepMinute]="1"
            [stepSecond]="1"
            [touchUi]="false"
            [color]="'primary'"
            [enableMeridian]="false"
          >
          </ngx-mat-datetime-picker>
        </mat-form-field> -->
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input formControlName="date" matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker [touchUi]="true"> </mat-datepicker>
        </mat-form-field>
        <!-- <mat-form-field class="w-full" appearance="fill">
          <input
            formControlName="date"
            matInput
            type="datetime-local"
            placeholder="start date"
          />
        </mat-form-field> -->
      </div>
      <div class="col-12">
        <mat-form-field class="w-full" appearance="fill" [floatLabel]="'auto'">
          <mat-label>Сумма</mat-label>
          <input
            type="number"
            matInput
            formControlName="amount"
            placeholder="5900"
          />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" name="type">
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-full" appearance="fill" [floatLabel]="'auto'">
          <mat-label>Комент</mat-label>
          <input
            type="text"
            matInput
            formControlName="comment"
            placeholder="бла бла"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="save()">
    {{ "Сохранить" }}
  </button>
  <button mat-button mat-dialog-close (click)="close()">{{ "Отмена" }}</button>
</mat-dialog-actions>
