.login-wrapper {
  height: 100%;
}
.box {
  z-index: 5;
  max-width: 430px;
}

.login-wrapper .form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
  margin-bottom: 2rem;
}
.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}
.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}
.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #fff7fa;
}
