<ng-container *ngIf="days">
  <mat-card>
    <div class="grid">
      <div class="col-12">
        <div>{{ days[0].date | date: "dd.MM.YYYY" }}</div>
      </div>
      <div class="col-12" *ngFor="let operation of days">
        <app-operation-card
          [operation]="operation"
          [categories]="categories"
          (onChangeOperation)="change($event)"
          (onRemoveOperation)="remove($event)"
        ></app-operation-card>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
</ng-container>
