<div class="grid m-0 login-wrapper align-items-center justify-content-center">
  <mat-card class="col box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" class="form">
      <mat-card-content>
        <mat-form-field class="w-full">
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Email"
          />
        </mat-form-field>
        <mat-form-field class="w-full">
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Password"
          />
        </mat-form-field>
      </mat-card-content>
      <div class="grid">
        <div class="col-12">
          <button
            mat-stroked-button
            color="accent"
            class="w-full"
            (click)="signIn()"
          >
            Log in
          </button>
        </div>
        <!-- <div class="col-12">
          <button
            mat-button
            color="primary"
            class="w-full"
            (click)="googleAuth()"
          >
            Log in with Google
          </button>
        </div>
        <div class="col-12">
          <span>Don't have an account?</span>
          <a routerLink="/register-user">Sign Up</a>
        </div> -->
        <div class="col-12">
          <a routerLink="/forgot-password">Forgot Password?</a>
        </div>
      </div>
    </form>
  </mat-card>
</div>
