<h2 mat-dialog-title>{{ acc ? "Редактирование" : "Создание " }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="grid">
      <div class="col-12">
        <mat-form-field class="w-full" appearance="fill" [floatLabel]="'auto'">
          <mat-label>Название</mat-label>
          <input matInput formControlName="name" placeholder="Продукты" />
        </mat-form-field>
      </div>
      <!-- <div class="col-12">
        <mat-form-field class="w-full" appearance="fill" [floatLabel]="'auto'">
          <mat-label>Бюджет</mat-label>
          <input
            type="number"
            matInput
            formControlName="budget"
            placeholder="5900"
          />
        </mat-form-field>
      </div> -->
      <div class="col-12">
        <button
          mat-fab
          color="accent"
          class="m-1"
          [ngClass]="{ 'selected-icon': form.value.icon === item }"
          *ngFor="let item of icons"
          (click)="onSelectIcon(item)"
        >
          <mat-icon>{{ item }}</mat-icon>
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="save()">
    {{ "Сохранить" }}
  </button>
  <button mat-button mat-dialog-close (click)="close()">{{ "Отмена" }}</button>
</mat-dialog-actions>
