<!-- <mat-list>
  <app-day-card
    [days]="operationsList![day]"
    *ngFor="let day of keys"
  ></app-day-card>
</mat-list> -->
<div class="grid">
  <div class="col-12" *ngFor="let day of keys">
    <app-day-card
      [days]="operationsList![day]"
      [categories]="categories"
      (onChangeOperation)="change($event)"
      (onRemoveOperation)="remove($event)"
    ></app-day-card>
  </div>
</div>
