<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Thank You for Registering</h3>
      <div class="formGroup" *ngIf="currentUser() as user">
        <p class="text-center">
          We have sent a confirmation email to <strong>{{ user.email }}</strong
          >.
        </p>
        <p class="text-center">
          Please check your email and click on the link to verfiy your email
          address.
        </p>
      </div>

      <div class="formGroup">
        <button
          mat-stroked-button
          color="primary"
          class="w-full"
          (click)="sendVerificationMail()"
        >
          Resend Verification Email
        </button>
      </div>
    </div>
    <div class="redirectToLogin">
      <span
        >Go back to?<a class="redirect" routerLink="/sign-in"> Sign in</a></span
      >
    </div>
  </div>
</div>
