<div class="wrapper">
  <!-- <div class="header">
    <div class="grid">
      <div class="col-12 md:col-2">
        <button
          class="m-2"
          mat-raised-button
          color="primary"
          (click)="onUpsertOperation()"
        >
          New Operation
        </button>
      </div>
      <div class="col-12 md:col-2">
        <button
          class="m-2"
          mat-raised-button
          color="primary"
          (click)="onUpsertCategory()"
        >
          New Category
        </button>
      </div>
      <div class="col-12 md:col-2" *ngIf="currentUser() as user">
        {{ user.email }}
      </div>
      <div class="col-12 md:col-2">
        <button
          class="m-2"
          mat-raised-button
          color="primary"
          (click)="signOut()"
        >
          SignOut
        </button>
      </div>
    </div>
  </div> -->
  <div class="content">
    <div class="grid m-0">
      <div class="col-12 md:col-6 md:col-offset-1">
        <app-category-panel
          [accBalance]="(balance$ | async)!"
        ></app-category-panel>
      </div>
      <div class="col-12 md:col-4">
        <app-operations-list
          [operationsList]="(operations$ | async)!"
          [categories]="(categories$ | async)!"
          (onChangeOperation)="onUpsertOperation($event)"
          (onRemoveOperation)="removeOperation($event)"
        ></app-operations-list>
      </div>
    </div>
  </div>
  <div class="footer">
    <mat-toolbar class="justify-content-end relative">
      <button
        class="absolute create-btn"
        mat-fab
        color="accent"
        (click)="onUpsertOperation()"
      >
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </div>
</div>
