.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  height: 100%;
  overflow-y: auto;
}
mat-toolbar {
  background-color: rgb(196, 193, 193);
}
.create-btn {
  top: -5px;
  left: calc(50% - 28px);
}
