/* You can add global styles to this file, and also import other style files */
@import "@angular/cdk/overlay-prebuilt.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  // padding: 0 0.5rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
